  body {
  background: radial-gradient(circle at top, #2b0000, #000000);
  color: #fff;
  font-family: 'Press Start 2P';
  text-transform: uppercase;
  position: relative;
  z-index: 1;
}

}

}

a {
  color: #7A963B;
  text-decoration: none;
}

a:hover {
  color: #fff;
}

#header {
  width: 800px;
  margin: auto;
}

canvas {
	margin: auto;
	display: block;
}

#stage {
	width: 800px;
	margin: auto;
}


